# Created by https://www.gitignore.io

### Fortran ###
# Compiled Object files
*.slo
*.lo
**.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


### C++ ###
# Compiled Object files
*.slo
*.lo
**.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


### C ###
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

### Emacs ###
*~
\#*\#

# Parflow
**.pfb
bin/batchmc
bin/bgmsfem2pfsol
bin/bootmc
bin/dirt.tcl
bin/evap.tcl
bin/freemc
bin/fsb.tcl
bin/fsbox.tcl
bin/getmc
bin/gmssol2pfsol
bin/gmstinvertices
bin/gmstriangulate
bin/killmc
bin/metaEListBox.tcl
bin/metaEntry.tcl
bin/parflow
bin/parflow.tcl
bin/peekmc
bin/pfbtosa
bin/pfbtovis
bin/pfhelp
bin/pflocked.tcl
bin/pfmvio
bin/pfsbtosa
bin/pfstrip
bin/pftformat.tcl
bin/pfvtk.tcl
bin/pfwell_cat
bin/pfwell_data
bin/pfwrite.tcl
bin/pkgIndex.tcl
bin/projecttin
bin/run
bin/tkdiff.tcl
bin/winsync.tcl
bin/xparflow.tcl
bin/xpfci.tcl
bin/xpfmpeg.tcl
bin/xpftdatadsp.tcl
bin/xpftdiffdsp.tcl
bin/xpftfunctions.tcl
bin/xpftfuncwin.tcl
bin/xpftgeneral.tcl
bin/xpftgriddsp.tcl
bin/xpfthelp.tcl
bin/xpfthreeslices.tcl
bin/xpftinfowin.tcl
bin/xpftnewgrid.tcl
bin/xpftools.tcl
bin/xpftpf.tcl
bin/xpftsds.tcl
bin/xpftstatdsp.tcl
config/
pfsimulator/Makefile
pfsimulator/amps/Makefile
pfsimulator/amps/common/Makefile
pfsimulator/amps/mpi1/Makefile
pfsimulator/amps/seq/Makefile
pfsimulator/amps/smpi/Makefile
pfsimulator/bin/
pfsimulator/clm/Makefile
pfsimulator/clm/parflow_config.F90
pfsimulator/config.log
pfsimulator/config.status
pfsimulator/config/Makefile.config
pfsimulator/include/
pfsimulator/kinsol/Makefile
pfsimulator/parflow_exe/Makefile
pfsimulator/parflow_lib/Makefile
pftools/Makefile
pftools/bin/
pftools/chunk/Makefile
pftools/chunk/code/Makefile
pftools/chunk/code/chunk.f
pftools/config.log
pftools/config.status
pftools/config/Makefile.config
pftools/docs/Makefile
pftools/docs/usr_manual/Makefile
pftools/include/
test/.amps.mpi1.bootmc
test/.hostfile
test/LW_var_dz_spinup.out.kinsol.log
test/LW_var_dz_spinup.out.log
test/LW_var_dz_spinup.out.pftcl
test/LW_var_dz_spinup.out.specific_storage.pfb.dist
test/LW_var_dz_spinup.out.txt
test/LW_var_dz_spinup.pfidb
test/clm/.amps.mpi1.bootmc
test/clm/.hostfile
test/clm/CLM.out.clm.log
test/clm/can_out/
test/clm/clm_output.txt.0
test/clm/clm_output.txt.1
test/clm/clm_output.txt.2
test/clm/clm_output.txt.3
test/clm/clm_varDZ.out.can_out.00001.pfb.dist
test/clm/clm_varDZ.out.can_out.00002.pfb.dist
test/clm/clm_varDZ.out.can_out.00003.pfb.dist
test/clm/clm_varDZ.out.can_out.00004.pfb.dist
test/clm/clm_varDZ.out.can_out.00005.pfb.dist
test/clm/clm_varDZ.out.eflx_lh_tot.00001.pfb.dist
test/clm/clm_varDZ.out.eflx_lh_tot.00002.pfb.dist
test/clm/clm_varDZ.out.eflx_lh_tot.00003.pfb.dist
test/clm/clm_varDZ.out.eflx_lh_tot.00004.pfb.dist
test/clm/clm_varDZ.out.eflx_lh_tot.00005.pfb.dist
test/clm/clm_varDZ.out.eflx_lwrad_out.00001.pfb.dist
test/clm/clm_varDZ.out.eflx_lwrad_out.00002.pfb.dist
test/clm/clm_varDZ.out.eflx_lwrad_out.00003.pfb.dist
test/clm/clm_varDZ.out.eflx_lwrad_out.00004.pfb.dist
test/clm/clm_varDZ.out.eflx_lwrad_out.00005.pfb.dist
test/clm/clm_varDZ.out.eflx_sh_tot.00001.pfb.dist
test/clm/clm_varDZ.out.eflx_sh_tot.00002.pfb.dist
test/clm/clm_varDZ.out.eflx_sh_tot.00003.pfb.dist
test/clm/clm_varDZ.out.eflx_sh_tot.00004.pfb.dist
test/clm/clm_varDZ.out.eflx_sh_tot.00005.pfb.dist
test/clm/clm_varDZ.out.eflx_soil_grnd.00001.pfb.dist
test/clm/clm_varDZ.out.eflx_soil_grnd.00002.pfb.dist
test/clm/clm_varDZ.out.eflx_soil_grnd.00003.pfb.dist
test/clm/clm_varDZ.out.eflx_soil_grnd.00004.pfb.dist
test/clm/clm_varDZ.out.eflx_soil_grnd.00005.pfb.dist
test/clm/clm_varDZ.out.kinsol.log
test/clm/clm_varDZ.out.log
test/clm/clm_varDZ.out.pftcl
test/clm/clm_varDZ.out.qflx_evap_grnd.00001.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_grnd.00002.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_grnd.00003.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_grnd.00004.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_grnd.00005.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_soi.00001.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_soi.00002.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_soi.00003.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_soi.00004.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_soi.00005.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_tot.00001.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_tot.00002.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_tot.00003.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_tot.00004.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_tot.00005.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_veg.00001.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_veg.00002.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_veg.00003.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_veg.00004.pfb.dist
test/clm/clm_varDZ.out.qflx_evap_veg.00005.pfb.dist
test/clm/clm_varDZ.out.qflx_infl.00001.pfb.dist
test/clm/clm_varDZ.out.qflx_infl.00002.pfb.dist
test/clm/clm_varDZ.out.qflx_infl.00003.pfb.dist
test/clm/clm_varDZ.out.qflx_infl.00004.pfb.dist
test/clm/clm_varDZ.out.qflx_infl.00005.pfb.dist
test/clm/clm_varDZ.out.qflx_tran_veg.00001.pfb.dist
test/clm/clm_varDZ.out.qflx_tran_veg.00002.pfb.dist
test/clm/clm_varDZ.out.qflx_tran_veg.00003.pfb.dist
test/clm/clm_varDZ.out.qflx_tran_veg.00004.pfb.dist
test/clm/clm_varDZ.out.qflx_tran_veg.00005.pfb.dist
test/clm/clm_varDZ.out.specific_storage.pfb.dist
test/clm/clm_varDZ.out.swe_out.00001.pfb.dist
test/clm/clm_varDZ.out.swe_out.00002.pfb.dist
test/clm/clm_varDZ.out.swe_out.00003.pfb.dist
test/clm/clm_varDZ.out.swe_out.00004.pfb.dist
test/clm/clm_varDZ.out.swe_out.00005.pfb.dist
test/clm/clm_varDZ.out.t_grnd.00001.pfb.dist
test/clm/clm_varDZ.out.t_grnd.00002.pfb.dist
test/clm/clm_varDZ.out.t_grnd.00003.pfb.dist
test/clm/clm_varDZ.out.t_grnd.00004.pfb.dist
test/clm/clm_varDZ.out.t_grnd.00005.pfb.dist
test/clm/clm_varDZ.out.t_soil.00001.pfb.dist
test/clm/clm_varDZ.out.t_soil.00002.pfb.dist
test/clm/clm_varDZ.out.t_soil.00003.pfb.dist
test/clm/clm_varDZ.out.t_soil.00004.pfb.dist
test/clm/clm_varDZ.out.t_soil.00005.pfb.dist
test/clm/clm_varDZ.out.txt
test/clm/clm_varDZ.pfidb
test/clm/diag_out/
test/clm/drv_clmin.dat.0
test/clm/drv_clmin.dat.1
test/clm/drv_clmin.dat.2
test/clm/drv_clmin.dat.3
test/clm/drv_clmin.dat.4
test/clm/drv_vegm.dat.0
test/clm/drv_vegm.dat.1
test/clm/drv_vegm.dat.2
test/clm/drv_vegm.dat.3
test/clm/drv_vegm.dat.4
test/clm/eflx_lh_tot/
test/clm/eflx_lwrad_out/
test/clm/eflx_sh_tot/
test/clm/eflx_soil_grnd/
test/clm/qflx_evap_grnd/
test/clm/qflx_evap_soi/
test/clm/qflx_evap_tot/
test/clm/qflx_evap_veg/
test/clm/qflx_infl/
test/clm/qflx_top_soil/
test/clm/qflx_tran_veg/
test/clm/swe_out/
test/clm/t_grnd/
test/clm/washita.output.txt.0
test/clm/washita.output.txt.1
test/clm/washita.output.txt.2
test/clm/washita.output.txt.3
test/clm/washita.para.out.dat.0
test/clm/washita.para.out.dat.1
test/clm/washita.para.out.dat.2
test/clm/washita.para.out.dat.3

